<tbody>
    <tr>
      <td style="width: 98px; text-align: center;" rowspan="2">
        <h5><a class="wiki_link" title="" href="https://divinityoriginalsin2.wiki.fextralife.com/Elemental+Arrowheads" target=""><img style="width: nullpx; height: nullpx;" src="./Musketeer Skills _ Divinity Original Sin 2 Wiki_files/rifleskills/MusketeerPassive.png" alt="" width="96" height="96"><br>Weapon Type: Rifles</a></h5>
      </td>
      <td style="width: 71.3182px;" colspan="10"><!--Rifles are crude and clunky ranged weapons, making up for their lower
        accuracy and range with sheer firepower and penetration. This fearsome weaponry has a capacity to hold
        bullets and has to be reloaded actively when empty.--></td>
    </tr>
    <tr>
      <td style="text-align: center; width: 71.3182px;"><img style="width: 16px; height: 16px;" title="huntsman" src="./Musketeer Skills _ Divinity Original Sin 2 Wiki_files/hunstman-skills-s.png" alt="huntsman" width="16" height="16">1</td>
      <td style="text-align: center; width: 69.6818px;">-</td>
      <td style="text-align: center; width: 42px;"><img style="width: 36px; height: 18px;" src="./Musketeer Skills _ Divinity Original Sin 2 Wiki_files/AP2.png" alt="" width="18" height="9"></td>
      <td style="text-align: center; width: 46px;"><font size="3" color="#00EFFF">2-7</font></td>
      <td style="text-align: center; width: 46px;">-</td>
      <td style="text-align: center; width: 46px;">-</td>
      <td style="text-align: center; width: 35px;">-</td>
      <td style="width: 45px;">-</td>
      <td style="width: 45px;">&nbsp;10/8/4m</td>
      <td style="width: 782px;">
        <font size='4' color='#00EFFF'>Ammunition</font><br><br>Rifle-Attacks consume <font color='#00EFFF'>Ammunition</font>,
        requiring you to reload when empty, which <font color='#FFFFFF'>mutes</font>, <font color='#FFFFFF'>disarmes</font> and
        <font color='#FFFFFF'>slows you by 75%</font> until your next turn. Basic attacks consume 1 <font color='#00EFFF'>
            Ammunition</font>, skills have individual costs which are noted in their description.<br>
            Different rifles can have different ranges, which directly influences the ranges of all rifle-based skills.<br><br>The current and maximum
        amount of <font color='#00EFFF'>Ammunition</font> can be checked in the AmmunitionBar Panel.<br><br>
        <font size='4' color='#FF1500'>Mark interaction</font><br><br>Rifle based skills can have special interactions with
        <font color='#FF1500'>Marked</font> characters, these interactions are also detailed on the individual skills
        description.<br><br>
      </td>
    </tr>
  </tbody>